body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: #000000;

  color: $main-text-color;
  background-color: $background-color;
}

.container {
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 35px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 0 115px;
  }
}

.section__title {
  margin-top: 15px;

  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $accent-color;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.section__subtitle {
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;

  text-align: center;
  text-transform: uppercase;

  color: $third-accent-color;

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
