/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
// Сбрасывает глобальные стили
@import './base/reset';

// Переменные в css формате
@import './utils/variables';
@import './utils/mixins';

// Стили для файла с примером HTML-фрагмента
@import './components/header';
@import './components/hero';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';
