@mixin section-padding($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin flex-centered($display: flex, $a-i: center, $j-c: center) {
  display: $display;
  align-items: $a-i;
  justify-content: $j-c;
}
