// Переменные цвета
$main-text-color: #000000;
$second-text-color: #907e82;
$third-text-color: #ffffff;
$accent-color: #d41443;
$second-accent-color: #ffb8ca;
$third-accent-color: #ffa5ba;
$background-color: #fff5f6;
$second-background-color: #f0d1a5;
$third-background-color: #c2e297;
$fourth-background-color: #e5e5e5;
$menu-color: #e17992;
$hover-color: #ecebeb;
$second-hover-color: #C7133E;
$shadow-color: rgba(212, 20, 67, 0.1);
$review-color: #fafafa;
$review-underline: #e1e1e1;
