<section class="about">
    <div class="container">
    
        <p class="section__subtitle">tradition and love</p>
        <h2 class="section__title about__title">how it’s made?</h2>
        
        <div class="about__box">
            <picture>
                <source srcset="./images/milk-and-cow_desktop.png 1x, ./images/milk-and-cow_desktop@2x.png 2x"
                    media="(min-width: 1280px)">
                <source srcset="./images/milk-and-cow_tablet.png 1x, ./images/milk-and-cow_tablet@2x.png 2x"
                    media="(min-width: 768px)">
            
                <img srcset="./images/milk-and-cow_mobile.png 1x, ./images/milk-and-cow_mobile@2x.png 2x"
                    src="./images/milk-and-cow_mobile.png" alt="milk and a cow" class="about__picture">
            </picture>
                
            <div class="about__text-block">
                <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
                    lorem
                    eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
            
                <p class="about__text--lighter">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
                    rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
            
                <p class="about__text--lighter">Aliquam erat volutpat. Aenean accumsan.</p>
            
                <button class="button--reverse about__btn">Read more &#62;</button>
            </div>
        </div>
    </div>
</section>