<section class="section">
    <div class="container">
    <div class="card">
        <h3 class="card__title">CAFE</h3>
        <ul class="card__list">
            <li class="card__item">
                <h4 class="card__name">Chicago</h4>
                <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <span class="card__line"></span>
            </li>
            <li>
               <h4 class="card__name">Monday - Friday</h4> 
               <p class="card__schedule">06:00 AM - 10:00 PM</p>
            </li>
            <li>
                <h4 class="card__name">Saturday - Sunday</h4> 
                <p class="card__schedule">08:00 AM - 16:00 PM</p>
                <span class="card__line"></span>
            </li>
            <li>
                <p class="card__contacts">
                    +61(0) 383 766 284 <br>
                    noreply@envato.com
                </p>
            </li>
        </ul>
    </div>
    <div class="card">
        <h3 class="card__title--middle">FOOD TRUCK</h3>
        <ul class="card__list">
            <li class="card__item">
                <h4 class="card__name">Los Angeles</h4>
                <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <span class="card__line"></span>
            </li>
            <li>
               <h4 class="card__name">Monday - Friday</h4> 
               <p class="card__schedule">06:00 AM - 10:00 PM</p>
            </li>
            <li>
                <h4 class="card__name">Saturday - Sunday</h4> 
                <p class="card__schedule">08:00 AM - 16:00 PM</p>
                <span class="card__line"></span>
            </li>
            <li>
                <p class="card__contacts">
                    +61(0) 383 766 284 <br>
                    noreply@envato.com
                </p>
            </li>
        </ul>
    </div>
    <div class="card">
        <h3 class="card__title">CAFE</h3>
        <ul class="card__list">
            <li class="card__item">
                <h4 class="card__name">New York</h4>
                <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <span class="card__line"></span>
            </li>
            <li>
               <h4 class="card__name">Monday - Friday</h4> 
               <p class="card__schedule">06:00 AM - 10:00 PM</p>
            </li>
            <li>
                <h4 class="card__name">Saturday - Sunday</h4> 
                <p class="card__schedule">08:00 AM - 16:00 PM</p>
                <span class="card__line"></span>
            </li>
            <li>
                <p class="card__contacts">
                    +61(0) 383 766 284 <br>
                    noreply@envato.com
                </p>
            </li>
        </ul>
    </div>
</div>
</section>