<section class="gallery">
  <div class="container">
    <h1 class="gallery_title visually-hidden">Gallery</h1>
    <picture>
      <source
        srcset="./images/gallery1x.png 1x, ./images/gallery2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/gallery-tablet.png 1x, ./images/gallery-tablet2x.png 2x"
        media="(min-width: 768px)"
      />

      <source
        srcset="./images/gallery-mob.png 1x, ./images/gallery-mob2x.png 2x"
        media="(min-width: 480px)"
      />

      <img src="./images/gallery.png" alt="gallery" class="gallery_image" />
    </picture>
  </div>
</section>
