<section class="gallery">
  <div class="container">
    <picture>
      <source
        srcset="./images/gallery.png 1x, ./images/gallery@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="../src/images/gallery-tablet@1х.png 1x, ./images/gallery-tablet@2x.png 2x"
        media="(min-width: 768px) "
      />
      <source
        srcset="./images/gallery-mob@1x.png 1x, ./images/gallery-mob@2x.png 2x"
        media="(min-width: 480px)"
      />

      <img src="./images/gallery.png" alt="gallery" class="gallery_image" />
    </picture>
  </div>
</section>
