<header>
    <div class="header--container">
        
          <p>  <a href="/index.html" class="header--logo">
                <img src="./images/logo.png"></a></p>
<!--         
        <ul class="list header__navigation">
            <li class="header--navigation-item list">
                <a class="header--navigation-link current current-acent">
                    Home</a>
            </li>
            <li class="header--navigation-item list">
                <a class="header--navigation-link link">About us</a>
            </li>
            <li class="header--navigation-item list">
                <a class="header--navigation-link link">How it’s made?</a>
            </li>
            <li class="header--navigation-item list">
                <a class="header--navigation-link link">Our products</a>
            </li>
            <li class="header--navigation-item list">
                <a class="header--navigation-link link">Contact</a>
            </li>
        </ul> -->

        <!-- <button type="button" class="header--botton">Buy now </use>
            <svg class="header--button--item" width="4" height="8">
                <use href="./images/icons.svg#icon-button-accent"></use>
                </svg> 
            </button> -->
      <button class="open-menu-btn"> O
      </button> 
      </div>
      <div class="mob-menu">
        <button class="close-menu-btn"> x
        </button>
        <button type="button" class="header--botton">Buy now 
        <!-- <svg class="header--button--item" width="4" height="8">
            <use href="./images/icons.svg#icon-button-accent"></use>
        </svg> -->
        </button>
        <ul class="header__mob-menu-list">
            <li class="header__mob-menu-item">
                <a class="header__mob-menu-link current current-acent">
                    Home</a>
            </li>
            <li class="header__mob-menu-item">
                <a class="header__mob-menu-link link">About us</a>
            </li>
            <li class="header__mob-menu-item">
                <a class="header__mob-menu-link link">How it’s made?</a>
            </li>
            <li class="header__mob-menu-item">
                <a class="header__mob-menu-link link">Our products</a>
            </li>
            <li class="header__mob-menu-item">
                <a class="header__mob-menu-link link">Contact</a>
            </li>
        </ul>
      </div>
    </div>
</header>