<section class="hero">
    <div class="container">
        <picture class="hero__ice-cream">
            <source srcset="./images/hero-ice-cream-mobile.png 1x, ./images/hero-ice-cream-mobile@2x.png 2x"
                media="(max-width: 767px)" />
            <source srcset="./images/hero-ice-cream-tablet.png 1x, ./images/hero-ice-cream-tablet@2x.png 2x"
                media="(max-width: 1279px)" />
            <source srcset="./images/hero-ice-cream.png 1x, ./images/hero-ice-cream@2x.png 2x" media="(min-width: 1280px)" />
            <img src="./images/hero-ice-cream-mobile.png" alt="Huge waffle cone ice cream">
        </picture>
        <h1 class="hero__title">ice cream <br>made with 
            <span class="hero__title-accent">passion</span>
        </h1>
        <!-- <ul class="hero__button-list">
            <li class="hero__button-item"> -->
                <a class="hero__button-products button" href="">Products</a>
            <!-- </li>
            <li class="hero__button-item"> -->
                <a class="hero__button-about button--reverse" href="">How it’s made?</a>
            <!-- </li>
        </ul> -->
        <div class="hero__mug-container">
            <picture class="hero__milk-mug">
                <source srcset="./images/hero-milk-mug-tablet.png 1x, ./images/hero-milk-mug-tablet@2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="./images/hero-milk-mug.png 1x, ./images/hero-milk-mug@2x.png 2x" media="(min-width: 1280px)" />
                <img src="./images/hero-milk-mug-tablet.png" alt="Milk mug">
            </picture>
            <p class="hero__label">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et</p>
            <button class="hero__button-modal" type="button">
                <!-- <svg>
                            <use></use>
                        </svg> -->
                <span class="svg"></span>
            </button>
        </div>
        <div class="hero__store-chain">
            <p class="">16</p>
            <p class="">cafes</p>
            <p class="">23</p>
            <p class="">food trucks</p>
        </div>        
        <picture class="hero__girl">
            <source srcset="./images/hero-girl-tablet.png 1x, ./images/hero-girl-tablet@2x.png 2x"
                media="(max-width: 1279px)" />
            <source srcset="./images/hero-girl.png 1x, ./images/hero-girl@2x.png 2x" media="(min-width: 1280px)" />
            <img src="./images/hero-girl-tablet.png" alt="Girl is enjoying ice cream">
        </picture>    
    </div>
</section>