.about {
  @include section-padding(40px, 40px);
  background-color: $background-color;
}

.about__label {
  font-family: Titan One, cursive;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $third-accent-color;

  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  font-family: Titan One, cursive;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin: 0 auto;

  color: $accent-color;

  margin-bottom: 26px;

  @media screen and (max-width: 767px) {
    max-width: 200px;
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 48px;
    line-height: 1.15;
  }
}

.about__text {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  margin: 0 auto 36px;
  color: $main-text-color;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    margin: 0 0 36px auto;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.about__text--lighter {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  margin: 0 auto 20px;

  color: $second-text-color;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    margin: 0 0 20px auto;
  }

  @media screen and (min-width: 1280px) {
    line-height: 1.94;
  }

  &:last-of-type {
    margin-bottom: 36px;

    @media screen and (min-width: 768px) {
      margin-bottom: 62px;
    }
  }
}

.about__container {
  max-width: 320px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 772px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.about__btn {
  display: block;

  background: $third-text-color;
  border-radius: 22px;
  border: none;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: $accent-color;

  cursor: pointer;

  padding: 14px 37px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.31;
  }

  &:hover {
    background-color: $hover-color;
  }
}

.about__text-block {
  max-width: 220px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 340px;
    margin: 0;
  }

  @media screen and (min-width: 1280px) {
    max-width: 463px;
    margin: 0;
  }
}

.about__picture {
  // margin: 0 auto 46px;

  @media screen and (max-width: 767px) {
    margin: 0 auto 46px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 17px;
  }
}

.about__box {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
  }
}
