.section {
    width: 1280px;
    background-color: $background-color;
    padding-top: 51px;
    padding-right: 44px;
    padding-bottom: 62px;
    padding-left: 43px;
}
.container {
    display: flex;
    justify-content: center;
}
.card {
    width: 330px;
    height: 572px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 24px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    /*задний цвет сделала таким пока нет на фоне как на макете картинки*/
}
.card__item {
    margin-right: 31px;
    &:last-child {
        margin-right: 0;
    }
}
.card__title {
    background-color: $second-background-color;
    border-radius: 6px;
    color: $third-text-color;
    width: 73px;
    text-align: center;
}
.card__title--middle {
    width: 138px;
    background-color: $third-background-color;
    color: $third-text-color;
    text-align: center;
    border-radius: 6px;
}
.card__name {
    color: $main-text-color;
}
.card__text {
    color: $second-text-color;
    width: 243px;
}
.card__schedule {
    color: $third-accent-color;
}
.card__line {
    border: 1px solid $review-underline;
    /* надо разобраться */
    width: 1px;
}
.card__contacts {
    color: $second-text-color;
}

