.section {
    background-color: $background-color;

   
}
.container {
    @media screen and (max-width: 767px) {
        display: block;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
     background-image: url(../images/contactsbg.png);
     display: flex;
     justify-content: center;
    }

}
.card {
    border-radius: 24px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-top: 50px;
        padding-right: 32px;
        padding-bottom: 50px;
        padding-left: 31px;
        height: 544px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 51px;
        padding-right: 44px;
        padding-bottom: 62px;
        padding-left: 43px;
        margin-right: 31px;
        &:last-child {
            margin-right: 0;
        }
       }
       @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}
li {
    list-style-type: none;
}

.card__title {
    font-family: DM Sans;
    background-color: $second-background-color;
    border-radius: 6px;
    color: $third-text-color;
    width: 73px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 32px;

}
.card__title--middle {
    font-family: DM Sans;
    width: 138px;
    background-color: $third-background-color;
    color: $third-text-color;
    text-align: center;
    border-radius: 6px;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
}
.card__name {
    font-family: DM Sans;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    color: $main-text-color;
    margin-bottom: 10px;
}
.card__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.81;
    color: $second-text-color;
    width: 243px;
}
.card__day {
    margin-bottom: -2px;
    font-family: DM Sans;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    color: $main-text-color;
}
.card__schedule {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    color: $third-accent-color;
    margin-bottom: 15px;
}
.card__line {
    border: 1px solid $review-underline;
    /* надо разобраться */
    width: 1px;
}
.card__contacts {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.81;
    color: $second-text-color;
    margin-top: 32px;
}

